# Don't commit editor configs
.idea
*.iws
/out/
atlassian-ide-plugin.xml
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
sftp-config.json
GitHub.sublime-settings
.tags
.tags_sorted_by_file
.vagrant
*.DS_Store

# Ignore released binaries
rel/*/
!rel/config.exs
.deliver

# Don't commit file uploads
uploads/
!uploads/.gitkeep
dumps
.vscode
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*tfplan*
.env
keys/
.idea
.DS_Store
credentials.json
sec-env.yaml
identity
identity.pub
dev.yaml
